* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Viga', sans-serif;
    color: #FFF5EE;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: url('../assets/images/background.jpg ') no-repeat;
    background-size: cover;
    background-position: center;
    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em; 
    color: #FFF5EE;
    user-select: none;
}

.navigation a { 
    position: relative; 
    font-size: 1.1em;
    color: #FFF5EE;
    text-decoration: none;
    font-weight: 500; 
    margin-left: 40px;
}

.navigation a::after { 
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%; 
    height: 3px;
    background: #FFF5EE; 
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .3s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}

.navigation .btnlogin {
    width: 130px;
    height: 50px;
    background: transparent; 
    border: 2px solid #FFF5EE;
    outline: none;
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 1.1em;
    color: #FFF5EE;
    font-weight: 500; 
    margin-left: 40px;
    transition: .3s;
}

.navigation .btnlogin:hover{
    background: #FFF5EE; 
    color: #162938;
}

.descrPr{
    text-decoration:underline;
    text-align: left ;
    color: #162938;
    opacity: 0.5;
}

.intro .title {
    color:#FFF5EE;
    font-size: 45px;
    text-align: center;
    transition: .3s;
}
.intro .subtitle {
    color:#FFF5EE;
    font-size: 25px;
    text-align: center;
    transition: .5s;
}

.intro .title:hover{
    font-size: 65px;
    color: gold;
}

.intro .subtitle:hover{
    font-size: 55px;
    color:hotpink;
    transform: rotate(-10deg);
}

.wrapper {
    position: fixed;
    width: 400px;
    height: 200 px;
    background: blur;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .5); 
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5); 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .3s ease;
}

.wrapper.active{
    transform:scale(1);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938; 
    font-size: 2em; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #FFF5EE;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: -20%;
    left: 5px;
    transform: translateY (-50%);
    font-size: 0.9em; 
    color: #FFF5EE; 
    opacity: 0.5;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}



.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em; 
    color: #FFF5EE; 
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em; 
    color: #162938; 
    line-height: 57px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #FFF5EE;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer; 
    font-size: 1em;
    color: #162938; 
    font-weight: 500;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0 ;
    background: transparent;
    height: auto; 
    width: 100vw; 
    padding-top: 40px;
    color: #FFF5EE;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    text-align: center;
}

.footer -content h3{ 
    font-size: 1.5rem; 
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{ 
    max-width: 50rem;
    line-height: 28px;
    font-size: 10px;
}

.footer-bottom{ 
    background: blur;
    backdrop-filter: blur(10px);
    width: 100vw;
    padding: 20px 0; 
    text-align: center;
}

.footer-bottom p{
    font-size: 14px; 
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4; 
    font-weight: 200;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem 0 .5rem 0;
}

.socials li{
    margin: 0 12px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a ion-icon{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover ion-icon{ 
    color: aqua;
}